*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 48px;
}

.controls {
  display: flex;
  align-items: center;
  max-width: 320px;
  flex-wrap: wrap;
  gap: 4px;
}

.controls button {
  background-color: black;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  border: none;
  outline: none;
}

.example {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box {
  width: 150px;
  height: 150px;
  background: black;
}

.box2 {
  width: 150px;
  height: 150px;
  border: 10px solid red;
}

.item {
  width: 150px;
  height: 150px;
}

.item1 {
  background-color: coral;
}

.item2 {
  background-color: aquamarine;
}

.item3 {
  background-color: rebeccapurple;
}
